<nav class="navbar is-link">
    <div class="container">
        <div class="navbar-start">
            <a href="/" class="navbar-item">
                SKOGLEE.COM
            </a>
            <span class="navbar-burger burger" data-target="navbarMenuHeroA">
                <span><a href="/" class="navbar-item">Home</a></span>
                <span></span>
                <span></span>
                </span>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
            <div class="navbar-end">
                <a href="/" class="navbar-item">
                    Home
                </a>
                (% if current_user.is_authenticated %)
                <a href="/account" class="navbar-item">
                    Account
                </a>
                <a href="/logout" class="navbar-item">
                    Logout
                </a>
                (% else %)
                <a href="/login" class="navbar-item">
                    Login
                </a>
                <a href="/signup" class="navbar-item">
                    Sign up
                </a>
                (% endif %)

            </div>
        </div>
    </div>
</nav>