<!-- templates/account.html -->
(% extends "base.html" %)
(% block content %)
(% include 'includes/inc_board_navbar.html' %)

<div class="section" id="account_spa">

    (% if current_user.active %)
    <div class="columns is-multiline">
        <left-side-menu @menu-selected="onMenuSelect"></left-side-menu>
        <main class="column">
            <dashboard v-if="selected_menu == 0"></dashboard>
            <campaign v-else-if="selected_menu == 1"></campaign>
            <settings v-else-if="selected_menu == 2"></settings>
            <payment v-else-if="selected_menu == 3"></payment>
            <history v-else-if="selected_menu == 4"></history>
        </main>
    </div>
    (% else %)
    <div class="notification">
        To activate your account, confirm your email by clicking on the link sent to (( current_user.email ))
    </div>
    (% endif %)

</div>

(% endblock %)

(% block extra_js %)
<link rel="stylesheet" href="/static/css/bulma-pricingtable.min.css">
<script src="https://unpkg.com/vue-input-tag"></script>
<script src="/static/js/account/dashboard.js"></script>
<script src="/static/js/account/campaign.js"></script>
<script src="/static/js/account/account.js"></script>
<script src="/static/js/account/settings.js"></script>
<script src="https://js.stripe.com/v3"></script>
<script src="/static/js/account/payment.js"></script>
<script src="/static/js/account/history.js"></script>
(% endblock %)