<!-- templates/campaign.html -->
(% extends "base.html" %)
(% block extra_css %)
    <link rel="stylesheet" href="static/css/bulma-tagsinput.min.css">
(% endblock %)

(% block content %)
(% include 'inc_board_navbar.html' %)
<div class="section">
    <div class="columns">
        (% include 'inc_board_left_sidebar.html' %)

        <main class="column" id="camp_app">

            <input class="input" type="tags" placeholder="Add Tag" value="Tag1,Tag2,Tag3">

        </main>

    </div>
</div>
(% endblock %)

(% block extra_js %)
    <script src="/static/js/lib/bulma-tagsinput.min.js"></script>
    <script src="/static/js/campaign/campaign.js"></script>
    <script src="/static/js/campaign/comp_campaign.js"></script>
(% endblock %)