<aside class="column is-2">
    <nav class="menu">
        <p class="menu-label">
            General
        </p>
        <ul class="menu-list">
            <li><a href="/board" class="is-active">Dashboard</a></li>
            <li><a href="/campaign">Campaign</a></li>
        </ul>
        <p class="menu-label">
            Administration
        </p>
        <ul class="menu-list">
            <li><a>Settings</a></li>
        </ul>
        <p class="menu-label">
            Transactions
        </p>
        <ul class="menu-list">
            <li><a>Payments</a></li>
            <li><a>Balance</a></li>
        </ul>
    </nav>
</aside>